html, body {
    text-align: center;
    }
    p {text-align: left;}
    
    body {
        margin: 150px;
        padding: 0;
        background: #697281;
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #F1F5F8;
      background: #26476E;
    }

    *{
      margin: 0 auto 0 auto;
     text-align:left;}
    
    section{
      margin: 0 auto 0 auto; 
      margin-top:25px;
      display: block; 
      height:auto;
      position: relative; 
      overflow: hidden; 
      width: 614px;
    }
    
    header{
    background-image:url('../images/titlebar.png');
    background-repeat:no-repeat;
    height:30px;
    width:614px;
    overflow:hidden;
    }
    
    
    header h1{
    padding-left:21px;
    margin-top:8px;
    margin-left:5px;
    width:510px;
    position:relative;
    color:#FFFFFF;
    text-align:left;
    font-size:14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-image:url('../images/icon.png');
    background-repeat:no-repeat;
    overflow:hidden;
    }
    
    
    
    
    nav{
    background-image:url('../images/menu.png');
    background-repeat:no-repeat;
    height:39px;
    width:610px;
    
    padding-left:4px;
    text-align:left;
    font-family:Tahoma, "Tahoma", "Trebuchet MS", Arial;
    font-size:11px;
    }
    
    nav ul {
        padding: 0px;
        list-style-type: none;
        height:21px;
        text-align:left;
    }

    nav ul li , nav ul li a, nav ul li a:visited{
        height:21px;
        margin: 0px;
        padding: 5px;
        padding-left:2px;
        padding-right:2px;
        height: 21px;
        overflow: hidden;
        display: inline;
        text-align:center;
        line-height:18px;
        color:#000000;
    
        text-decoration:none;
    }
    
    
    nav ul li a:hover{
    color:#FFFFFF;
    }
    
    nav ul li:hover{
    height:21px;
    background:#316AC5;
    }
    
    article{
      width: 579px;
      padding-top:0px;
      padding-left:7px;
      padding-right:28px;
      padding-bottom: 10px;
      font-family: "Lucida Console", Lucida Console, "Tahoma", "Trebuchet MS", Arial;
      background-image:url('../images/notepad_back.png');
      background-repeat:repeat-y;
      color:#000000;
      position: relative; 
    }
    
    
    footer{
    padding-top:6px;
    background-image:url('../images/footer.png');
    background-repeat:no-repeat;
    height:39px;
    width:614px;
    overflow:hidden;
    text-align:center;
    font-size:9px;
    color:#E2E2E0;
    }

    #footer a, #footer a:visited, #footer a:hover{
    font-size:9px;
    color:#E2E2E0;
    }
    
    
    footer a:hover{
    color:#BCBCBC;
    }
    
    
    
    html, body {
    text-align: center;
    }

    p {
    padding-top:0px;
    padding-bottom:15px;
    text-align: left;
    text-align:justify;
    }
    
    article a{
    text-decoration:underline;
    color:#373737;
    }
    
    article a:hover{
    text-decoration:none;
    color:#999999;
    }
    
    article h1{
      font-family: "Lucida Console", Lucida Console, "Tahoma", "Trebuchet MS", Arial;
      font-size:13px;
    }

     section.socials {
      margin: 10px;
      width: 200px;
      z-index: 4;
     }
     section.socials img {
      width: 100%;
      height: auto;
      z-index: 4;
     }

     section.socdesc {
      padding: 15px;
      text-align: center;
     }

     section.gallery {
      margin: 5px;
      width: 250px;
      z-index: 4;
     }

     section.gallery img {
      width: 100%;
      height: auto;
      z-index: 4;
      margin: 10px;
     }

     section.aboutphoto img{
      width: 50%;
      height: auto;
      z-index: 4;
      margin: 50px;
      margin-top: 10px;
      transform: rotate(10deg);
     }

